html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Raleway, Raleway-Bold, Raleway-ExtraLight, ProximaNova-Regular;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 769px) {
  
  header {
    width: 100%;
  }

  header.sticky {
    padding: 5px 0;
  }
  
}
